<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>   
    <center>
        <h1>Date -Time filter</h1>
        <h3>By default format :{{dt}}</h3>
        <h3>DATE_FORMAT IS : {{dt|date:'DATE_FORMAT'}}</h3>
        <h3>DATETIME_FORMAT IS : {{dt|date:'DATETIME_FORMAT'}}</h3>
        <h3>SHORT_DATE_FORMAT IS :{{dt|date:'SHORT_DATE_FORMAT'}}</h3>
        <h3>SHORT_DATETIME_FORMAT IS :{{dt|date:'SHORT_DATETIME_FORMAT'}}</h3>
        <h3>TIME_FORMAT IS :{{dt|date:'TIME_FORMAT'}}</h3>
    </center>
</body>
</html>