<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Float_Formate</h1>
        <h3>Value without floatformat :{{x}}</h3>
        <h3>Value without floatformat : {{y}}</h3>
        <h3>Value without floatformat : {{z}}</h3>
        <h3>Value with floatformat :{{x|floatformat}}</h3>
        <h3>Value with floatformat : {{y|floatformat}}</h3>
        <h3>Value with floatformat : {{z|floatformat}}</h3>
        <h3>Value with floatformat:0(gives nearest integer value) :{{x|floatformat:0}}</h3>
        <h3>Value with floatformat:0(gives nearest integer value) : {{y|floatformat:0}}</h3>
        <h3>Value with floatformat:0(gives nearest integer value) : {{z|floatformat:0}}</h3>
        <h3>Value with floatformat:negetive value :{{x|floatformat:-3}}</h3>
        <h3>Value with floatformat:negetive value : {{y|floatformat:-3}}</h3>
        <h3>Value with floatformat:negetive value : {{z|floatformat:-3}}</h3>
        <h3>Value with floatformat:positive value :{{x|floatformat:3}}</h3>
        <h3>Value with floatformat:positive value : {{y|floatformat:3}}</h3>
        <h3>Value with floatformat:positive value : {{z|floatformat:3}}</h3>
    </center>
    
</body>
</html>